/*reglas generales*/


*{
  font-size: 62.5;
}

h1{
  font-size: 5rem;
  font-family: Playfair;
}

h2{
  font-size: 4rem;
  font-family: Playfair;
}

h3{
  font-size: 4rem;
  font-family: Playfair;
}


header {
    background-color: white;
    margin: 20px; 
}

body{
font-family: Raleway;
font-size: 1.6rem;
line-height: 2;
}


h1.titulo-pagina{
    text-align: center;
    color:black;
}

.hero-image {

    min-height: 25rem;
    background-image: url(../imagenes/principal.jpg);
    background-repeat: no-repeat;
    color: white;
    background-position: 100% 90%;
    background-size: cover;
}
.hero-image div{
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.228);
}

.bg-primary{ 
    background-color: rgb(0, 93, 140) !important;
}
.bg-success{ 
    background-color: rgb(2, 214, 37) !important;
}

.redondeo{
    border-radius: 10px;
}


  
  
  
  .product-description {
    background-color:  #2b6fe6;
    /*font-size: large;*/
    text-align: center;
    vertical-align: middle;
    
    
  }

  a {
    text-decoration: none !important;
    color:black !important;
  }
 
  /* Change the color of links on hover */
  a:hover {
  color: greenyellow !important;
}

  .footer-description {
    background-color:#2b6fe6;
    font-size: 16px;
    text-align:left;
    vertical-align: middle;
    color:black;
    
  }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 60px;*/
} 

li a {
  display: block;
  color: black;
  /*background-color: #dddddd;*/
  text-decoration: none;
  
}

/* Change the color of links on hover */
li a:hover {
  
  color: red;
  
}


h2{
  text-align: center;
  
}

/*Media Query*/

/** Reescribir colores */

/** Productos */
